@model IEnumerable<asp_core_mvc.Models.Alerts>

@{
    ViewBag.Title = "Alerts";
}

<h1>@ViewBag.Title</h1>

<p>Alerts</p>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Reason for Alert</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Alerts alert in Model)
        {
            <tr>
                <td>@alert.TransId</td>
                <td>@alert.TransDate</td>
                <td>@alert.AlertReason</td>
            </tr>
        }
    </tbody>
</table>

