@model IEnumerable<asp_core_mvc.Models.Rules>

@{
    ViewBag.Title = "Rules";
}

<h1>@ViewBag.Title</h1>

<p>Rules</p>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>RuleId</th>
            <th>RuleDesc</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Rules rule in Model)
        {
        <tr>
            <td>@rule.RuleId</td>
            <td>@rule.RuleDesc</td>
            <td>@rule.DateCreated</td>
        </tr>
        }
    </tbody>
</table>
